extends menu

block market_view
  .row
    .col-md-12
      .card.card-default
        .card-header
          strong #{settings.locale.freiexchange} - #{marketdata.coin}/#{marketdata.exchange} - #{settings.locale.mkt_hours}
          a(href='#')
            span.fa.fa-line-chart.pull-right.view-chart-disabled.iquidus.market-toggle(data-toggle='tooltip', data-placement='bottom', title=settings.locale.mkt_no_chart)
        table.table.table-bordered.summary-table
          thead
            tr
              th #{settings.locale.mkt_high}
              th #{settings.locale.mkt_low}
              th #{settings.locale.mkt_volume}
              th.d-none.d-sm-block #{settings.locale.mkt_top_bid}
              th.d-none.d-sm-block #{settings.locale.mkt_top_ask}
              th.d-none.d-sm-block #{settings.locale.mkt_last}
          tbody
            tr
              td #{parseFloat(marketdata.data.summary.high).toFixed(8)}
              td #{parseFloat(marketdata.data.summary.low).toFixed(8)}
              td #{parseFloat(marketdata.data.summary.volume).toFixed(8)}
              td.d-none.d-sm-block #{parseFloat(marketdata.data.summary.bid).toFixed(8)}
              td.d-none.d-sm-block #{parseFloat(marketdata.data.summary.ask).toFixed(8)}
              td.d-none.d-sm-block #{parseFloat(marketdata.data.summary.last).toFixed(8)}
  .row(style='padding-top:25px;')
    .col-md-6.col-xs-12
      .card.card-default
        .card-header
          h3.card-title #{settings.locale.mkt_buy_orders}
        table.table.table-striped.table-bordered.order-table
          thead
            tr
              th #{settings.locale.mkt_price} (#{marketdata.exchange})
              th #{settings.locale.mkt_amount} (#{marketdata.coin})
              th.d-none.d-sm-block #{settings.locale.mkt_total} (#{marketdata.exchange})
          tbody
            each buy in marketdata.data.buys
              tr
                td
                  =parseFloat(buy.price).toFixed(8)
                td
                  =parseFloat(buy.amount).toFixed(8)
                td.d-none.d-sm-block
                  =parseFloat(buy.total).toFixed(8)
    .col-md-6.col-xs-12
      .card.card-default
        .card-header
          h3.card-title #{settings.locale.mkt_sell_orders}
        table.table.table-striped.table-bordered.order-table
          thead
            tr
              th #{settings.locale.mkt_price} (#{marketdata.exchange})
              th #{settings.locale.mkt_amount} (#{marketdata.coin})
              th.d-none.d-sm-block #{settings.locale.mkt_total} (#{marketdata.exchange})
          tbody
            each sell in marketdata.data.sells
              tr
                td
                  =parseFloat(sell.price).toFixed(8)
                td
                  =parseFloat(sell.amount).toFixed(8)
                td.d-none.d-sm-block
                  =parseFloat(sell.total).toFixed(8)
  .row(style='padding-top:25px;')
    .col-md-12
      .card.card-default
        .card-header
          h3.card-title #{settings.locale.mkt_trade_history}
        table.table.table-hover.history-table.table-bordered(cellspacing="0")
          thead
            tr
              th.d-none.d-sm-block #{settings.locale.mkt_type}
              th #{settings.locale.mkt_amount} (#{marketdata.coin})
              th #{settings.locale.mkt_price} (#{marketdata.exchange})
              th #{settings.locale.mkt_total} (#{marketdata.exchange})
              th.d-none.d-sm-block #{settings.locale.mkt_time_stamp}
          tbody
            each order in marketdata.data.history
              if order.ordertype == 'BUY'
                tr.success
                  td.d-none.d-sm-block
                    =order.ordertype
                  td
                    =parseFloat(order.amount).toFixed(8)
                  td
                    =parseFloat(order.price).toFixed(8)
                  td
                    =parseFloat(order.total).toFixed(8)
                  td.d-none.d-sm-block
                    =order.timestamp
              else
                tr.danger
                  td.d-none.d-sm-block
                    =order.ordertype
                  td
                    =parseFloat(order.amount).toFixed(8)
                  td
                    =parseFloat(order.price).toFixed(8)
                  td
                    =parseFloat(order.total).toFixed(8)
                  td
                    =order.timestamp
      .footer-padding
